<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/confirmation.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <title>Contact Confirmation</title>
</head>
<body>
  <div class="container">
    <h1>Thank you!</h1>
    <p>Your message has been received.</p>
    <button onclick="location.href='/drinks'">Return to Homepage</button>
    <div class="return-home">
      <button onclick="location.href='/admin'">Back to Dashboard</button>
    </div>
  </div>
</body>
</html>