<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
  
  <header class="navbar">
    <nav>
      <ul>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/reservations">Reservation</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/admin/login">Login</a></li>
      </ul>
    </nav>
  </header>

  <header class="welcome-header">
    <h1>Welcome to Brews &amp; Blues</h1>
  </header>

  <h1 class="blinking-header">LIVE JAZZ MUSIC TONIGHT!</h1>
  
  <!-- New blinking header under LIVE JAZZ MUSIC TODAY -->
  <h2 class="stapleton-header">Chris Stapleton live next Saturday!</h2>

  
  <footer>
    <h3 class="rainbow-text-mini">Everyone is welcome here, we proudly support LGBTQ+ rights</h3>
  </footer>
</body>
</html>