<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/reservationconfirmation.css">
  <title>Reservation Confirmation</title>
</head>
<body>
  <div class="container">
    <h1>Reservation Confirmed!</h1>
    <p>Thank you for reserving a table with us.</p>
    <button onclick="location.href='/drinks'">Return to Homepage</button>
  </div>
</body>
</html>